#appRoot>.dark-theme {
    background: #242526;
}
/* search form */
#appRoot>.dark-theme .ms-suiteux-search-box,
#appRoot>.dark-theme button[class^="submitSearchButton"] {
    background-color: #1B1B1D;
}
/* search input */
#appRoot>.dark-theme input[id^="ms-searchux-input"] {
    color: #EFF0F1;
    caret-color: #EFF0F1;
}
/* search suggestion popup */
#appRoot>.dark-theme div[id^="ms-searchux-popup"] button[class^="submitSuggestion"],
#appRoot>.dark-theme div[id^="ms-searchux-popup"] {
    background-color: #1B1B1D;
    color: #EFF0F1;
}
/* search suggestion popup */
#appRoot>.dark-theme div[class^="suggestionContainer"] {
    background-color: #1B1B1D;
}
#appRoot>.dark-theme svg {
    filter: invert(100%);
}
/* don't apply filter to submit search button svg */
#appRoot>.dark-theme button[class^="submitSearchButton"] svg {
    filter: unset;
}
#appRoot>.dark-theme span:not(.ms-FolderCover-metadata):not(.ms-FolderCover-signal),
#appRoot>.dark-theme p,
#appRoot>.dark-theme i:not(i[data-icon-name="Page"]),
#appRoot>.dark-theme b,
#appRoot>.dark-theme h1,
#appRoot>.dark-theme h2,
#appRoot>.dark-theme h3,
#appRoot>.dark-theme div[class^='totalQuotaText_'] {
    color: #eee;
}
#appRoot>.dark-theme input[id^="ms-searchux-input"] {
    background-color: #1B1B1D;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#appRoot>.dark-theme button[class^="magnifierButton"] {
    background-color: #1B1B1D;
    border-radius: 16px;
}
#appRoot>.dark-theme input[id^="ms-searchux-input"]::placeholder {
    color: #EFF0F1;
}
#appRoot>.dark-theme a {
    color: lightblue;
}
#appRoot>.dark-theme [class^='quotaBarHeader_'] {
    color: #EFF0F1;
}
#appRoot>.dark-theme [class^='icon_'] svg {
    filter: invert(0%);
}
#appRoot>.dark-theme [class^='navLink_']:hover [class^='navLinkInner_'] {
    background-color: #505151;
    color: #EEE;
}
#appRoot>.dark-theme button.ms-Button:hover {
    background-color: #505151;
    color: #EEE;
}
#appRoot>.dark-theme button.ms-Button i.ms-Icon.ms-Button-menuIcon,
#appRoot>.dark-theme button.ms-Button:hover i.ms-Icon.ms-Button-menuIcon {
    color: #EEE;
}
#appRoot[data-theme="dark"] ~ #fluent-default-layer-host > .ms-Layer button.ms-ContextualMenu-link,
#appRoot[data-theme="dark"] ~ #fluent-default-layer-host > .ms-Layer li.ms-ContextualMenu-item,
#appRoot[data-theme="dark"] ~ #fluent-default-layer-host > .ms-Layer .ms-ContextualMenu-list.is-open,
#appRoot[data-theme="dark"] ~ #fluent-default-layer-host > .ms-Layer .ms-Callout-main,
#appRoot[data-theme="dark"] ~ #fluent-default-layer-host > .ms-Layer .ms-Callout.ms-ContextualMenu-Callout {
    background-color: #1d1d1e;
}
#appRoot[data-theme="dark"] ~ #fluent-default-layer-host > .ms-Layer button.ms-ContextualMenu-link,
#appRoot[data-theme="dark"] ~ #fluent-default-layer-host > .ms-Layer .ms-ContextualMenu-icon,
#appRoot[data-theme="dark"] ~ #fluent-default-layer-host > .ms-Layer .ms-ContextualMenu-checkmarkIcon {
    color: #EEE;
}
#appRoot[data-theme="dark"] ~ #fluent-default-layer-host > .ms-Layer button.ms-ContextualMenu-link:hover .ms-ContextualMenu-icon:hover {
    color: #133F9E;
}
#appRoot[data-theme="dark"] ~ #fluent-default-layer-host > .ms-Layer button.ms-ContextualMenu-link:hover {
    background-color: #505151 !important;
}
#appRoot[data-theme="dark"] ~ #fluent-default-layer-host > .ms-Layer button.ms-ContextualMenu-link:hover .ms-ContextualMenu-linkContent .ms-ContextualMenu-itemText {
    color: #cdcdcd;
}
#appRoot>.dark-theme .ms-FocusZone.ms-CommandBar,
#appRoot>.dark-theme .ms-OverflowSet.ms-CommandBar-primaryCommand {
    background-color: #242526 !important;
}
#appRoot>.dark-theme .ms-TooltipHost {
    background-color: #242526;
}
#appRoot>.dark-theme .ms-FocusZone.ms-DetailsHeader,
#appRoot>.dark-theme .ms-DetailsHeader-cellTitle
/* #appRoot>.dark-theme div[role="row"]  */
{
    background-color: #242526;
    color: #EEE;
}
#appRoot>.dark-theme .ms-FocusZone.ms-DetailsRow {
    background-color: #242526;
    color: #EEE;
    box-shadow: none;
}
#appRoot>.dark-theme .ms-FocusZone.ms-DetailsRow:hover::before,
#appRoot>.dark-theme .ms-FocusZone.ms-DetailsRow.is-selected::before {
    background-color: #505151 !important;
}
#appRoot>.dark-theme .ms-Link {
    color: #EEE;
}
/* User Popup */
#appRoot>.dark-theme .mectrl_currentAccount,
#appRoot>.dark-theme .mectrl_scrollShadow.mectrl_accountList_container,
#appRoot>.dark-theme .od-ItemActivityFeed-noActivities {
    background: #1B1B1D;
    color: #EEE;
}
#appRoot>.dark-theme #mectrl_body_signOut,
#appRoot>.dark-theme .od-DetailsPane-PrimaryPane-wrapper,
#appRoot>.dark-theme .od-DetailsPane-PrimaryPane-header {
    background: #1B1B1D;
}
#appRoot>.dark-theme div[id*="_HeaderRightRegion"]:hover,
#appRoot>.dark-theme button[id*="_MainLink_Me"]:hover,
#appRoot>.dark-theme button[id*="_MainLink_Me"][class*="activeButton"],
#appRoot>.dark-theme button[id*="_MainLink_Help"]:hover,
#appRoot>.dark-theme button[id*="_MainLink_Help"][class*="activeButton"],
#appRoot>.dark-theme button[id*="_MainLink_Settings"]:hover,
#appRoot>.dark-theme button[id*="_MainLink_Settings"][class*="activeButton"],
#appRoot>.dark-theme button[id*="_HeaderDiamond"]:hover,
#appRoot>.dark-theme button[id*="_HeaderDiamond"][class*="activeButton"],
#appRoot>.dark-theme button[id*="_MainLink_NavMenu"]:hover,
#appRoot>.dark-theme button[id*="_MainLink_NavMenu"][class*="activeButton"],
#appRoot>.dark-theme button#GiveFeedbackButton:hover,
#appRoot>.dark-theme button#GiveFeedbackButton[class*="activeButton"],
#appRoot>.dark-theme #mectrl_body_signOut:hover,
#appRoot[data-theme="dark"] ~ #appLauncher button[id*="_AppTile_"]:hover {
    background: #505151;
}
/* app launcher */
#appRoot[data-theme="dark"] ~ #appLauncher div[class*="neutral-foreground-background"],
#appRoot[data-theme="dark"] ~ #appLauncher button[id*="intentTile_"],
#appRoot[data-theme="dark"] ~ #appLauncher #appLauncherSearchWrapper,
#appRoot[data-theme="dark"] ~ #FlexPane_Overflow_Container #flexPaneScrollRegion {
    background-color: #1B1B1D;
}
#appRoot[data-theme="dark"] ~ #appLauncher button[id*="intentTile_"]:hover  {
    background-color: #505151;
}
#appRoot[data-theme="dark"] ~ #appLauncher div[class*="neutral-dark-font"],
#appRoot[data-theme="dark"] ~ #FlexPane_Overflow_Container h2[class*="neutral-dark-font"],
#appRoot[data-theme="dark"] ~ #FlexPane_Overflow_Container  h3[class*="neutral-dark-font"],
#appRoot[data-theme="dark"] ~ #FlexPane_Overflow_Container  a[role="link"],
#appRoot[data-theme="dark"] ~ #FlexPane_Overflow_Container span[class*="ms-Icon"] {
    color: #EEE;
}
#appRoot[data-theme="dark"] ~ #FlexPane_Overflow_Container #flexPaneCloseButton:hover span[class*=ms-Icon] {
    color: black;
}
/* static image */
#appRoot>.dark-theme a[class*="tileViewport_"],
#appRoot>.dark-theme img[class*="staticCardImage_"] {
    background-color: #242526;
}
/* Image tile text */
#appRoot>.dark-theme span[class*="itemActivityTitle_"],
#appRoot>.dark-theme span[class*="itemActivitySubTitle_"] {
    color: #EEE !important;
}
/* Premium button */
#appRoot>.dark-theme button[class*="getMoreStorageButton_"] {
    background-color: #505151;
    color: #EEE;
}
#appRoot>.dark-theme div[class*="carouselTopNav_"],
#appRoot>.dark-theme button[class*="navButton_"] {
    background: #242526;
}
/* Help section */
html[data-theme="dark"] #f1Asset,
html[data-theme="dark"] #f1Body,
html[data-theme="dark"] #helpPaneFull,
html[data-theme="dark"] #ocClientSearch,
html[data-theme="dark"] .supCont.ocClient.fluent.olwac,
html[data-theme="dark"] .ocSearchIFrameDiv.olwac,
html[data-theme="dark"] #ocSearchNav {
    background-color: #1B1B1D;
    color: #EEE;
}
html[data-theme="dark"] .icon-arrow-back,
html[data-theme="dark"] .icon-home.icon-home-top,
html[data-theme="dark"] h2,
html[data-theme="dark"] p {
    color: #EEE !important;
}
html[data-theme="dark"] a {
    color: lightblue !important;
}
/* Feedback section */
#appRoot[data-theme="dark"] ~ #FlexPane_Overflow_Container #FlexPane_Feedback div[class*="defaultContainer"] {
    background: #1B1B1D;
}
#appRoot[data-theme="dark"] ~ #FlexPane_Overflow_Container #FlexPane_Feedback label,
#appRoot[data-theme="dark"] ~ #FlexPane_Overflow_Container #FlexPane_Feedback span:not(.ms-Button-flexContainer),
#appRoot[data-theme="dark"] ~ #FlexPane_Overflow_Container #FlexPane_Feedback i[data-icon-name="InAppFeedbackCheckmark"] {
    color: #EEE;
}
#appRoot[data-theme="dark"] ~ #FlexPane_Overflow_Container #FlexPane_Feedback .ms-Checkbox-checkbox {
    border: 1px solid #eee;
}
#appRoot[data-theme="dark"] ~ #FlexPane_Overflow_Container #FlexPane_Feedback button {
    background: #505151;
}
#appRoot[data-theme="dark"] ~ #FlexPane_Overflow_Container #FlexPane_Feedback button:hover {
    background: #737777;
}
#appRoot[data-theme="dark"] ~ #FlexPane_Overflow_Container #FlexPane_Feedback #textarea[id*="TextField"] {
    background: #505151;
}
/* recent page */
#appRoot[data-theme="dark"] button[class*="filterButton"][class*="allFilterPivot"],
#appRoot[data-theme="dark"] div[class*="headerRow_"],
#appRoot[data-theme="dark"] div[id*="virtualized-list_"][class*="row_"],
#appRoot[data-theme="dark"] div#odList {
    background: #242526;
}
#appRoot[data-theme="dark"] div[id*="virtualized-list_"][class*="row_"]:hover {
    --od3-background-inset-color: none;
    /* --od3-row-divider-inset-gradient-direction: none; */
    --od3-row-divider-inset-color: none;
    --od3-row-selected-background-color: none;
    --od3-row-selected-hover-background-color: none;
    background: #505151;
}
#appRoot[data-theme="dark"] div[class*="nameCellDisplay_"],
#appRoot[data-theme="dark"] button[class*="nameCellTop_"],
#appRoot[data-theme="dark"] div[class*="odsp-spartan-cell"] {
    color: #EEE;
}
#appRoot[data-theme="dark"] button[class*="filterButton"][class*="allFilterPivot"]:hover {
    background: #505151;
}
#appRoot[data-theme="dark"] div[class*="heroCommands_"] button {
    background: #737777;
    color: #EEE;
}
#appRoot[data-theme="dark"] ~ .fui-FluentProvider .fui-MenuItem {
    background: #1B1B1D;
    color: #EEE;
}
#appRoot[data-theme="dark"] ~ .fui-FluentProvider .fui-MenuItem:hover {
    background: #505151;
    color: #EEE;
}
#appRoot[data-theme="dark"] ~ .fui-FluentProvider .fui-MenuPopover {
    background: #1B1B1D;
}
/* ------------------------------------------------------------------------------------------------- */
/* ======================================== LIGHT THEME CSS ======================================== */
/* ------------------------------------------------------------------------------------------------- */
#appRoot>.light-theme {
    background: initial;
}
#appRoot>.light-theme span:not(.ms-FolderCover-metadata):not(.ms-FolderCover-signal):not(span[class^="itemActivity"]),
#appRoot>.light-theme p,
#appRoot>.light-theme i,
#appRoot>.light-theme b,
#appRoot>.light-theme h1,
#appRoot>.light-theme h2,
#appRoot>.light-theme h3,
#appRoot>.light-theme div[class^='totalQuotaText_'] {
    color: initial;
}
#appRoot>.light-theme button[data-automationid="AddNew"] i,
#appRoot>.light-theme button[data-automationid="AddNew"] span {
    color: white !important;
}
#appRoot> .light-theme a {
    color: unset;
}
#appRoot>.light-theme input[id^="ms-searchux-input"]::placeholder {
    color: unset;
}
#appRoot>.light-theme button[class^="magnifierButton"] {
    background-color: unset;
    color: unset;
    border-radius: unset;
}
#appRoot>.light-theme svg {
    filter: unset;
}
#appRoot>.light-theme .ms-suiteux-search-box,
#appRoot>.dark-theme button[class^="submitSearchButton"] {
    background-color: unset;
}
#appRoot>.light-theme input[id^="ms-searchux-input"] {
    color: unset;
    caret-color: unset;
    background-color: unset;
    border-radius: unset;
}
#appRoot>.light-theme div[id^="ms-searchux-popup"] button[class^="submitSuggestion"] {
    background-color: unset;
    color: unset;
}
#appRoot>.light-theme div[class^="suggestionContainer"] {
    background-color: unset;
}